<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板-留言</title>
    <link rel="stylesheet" href="/public/u-reset.css">
    <link rel="stylesheet" href="/public/ajax.css">
</head>

<body>
    <h2><a href="/index">留言板</a></h2>
    <form>

        <div>
            您的大名
        </div>
        <div>
            <input type="text" name="name" autocomplete="off">
        </div>
        <div>
            您的留言内容
        </div>
        <div>
            <textarea name="word" rows="6"></textarea>
        </div>
        <div class="btn">
            提交
        </div>
    </form>
</body>
<script src="/public/jquery-3.3.1.min.js"></script>
<script src="/public/layer/layer.js"></script>
<script src="/public/ajax.js"></script>

</html>