<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Index of {{url}}</title>
</head>
<body>
<h1>Index of {{url}}</h1>

<table>
    <tbody>
    <tr>
        <th valign="top"><img src="/icon/blank.gif" alt="[ICO]"></th>
        <th>文件名</th>
        <th>最后修改日期</th>
        <th>大小</th>
    </tr>
    <tr>
        <th colspan="5">
            <hr>
        </th>
    </tr>
    {{if isback}}
    <tr>
        <td valign="top"><img src="/icon/back.gif"></td>
        <td><a href="{{ backurl }}">Parent Directory</a></td>
        <td>&nbsp;</td>
        <td align="right"> -</td>
        <td>&nbsp;</td>
    </tr>
    {{/if}}
    {{each files}}
    <tr>
        <td valign="top"><img src="/icon/{{ $value.imgsrc }}"></td>
        <td><a href="{{$value.src}}">{{ $value.srcName }}/</a></td>
        <td align="right">{{ $value.creatTime }}</td>
        <td align="right">{{ $value.size }}</td>
    </tr>
    {{/each}}
    <tr>
        <th colspan="5">
            <hr>
        </th>
    </tr>
    </tbody>
</table>


</body>
</html>