#bgimg1{
    width: 100px;
    height: 100px;
    background: url("./img/004.jpg") no-repeat center center/cover;
}

#bgimg2{
    width: 200px;
    height: 200px;
    background: url("./img/009.jpg") no-repeat center center/cover;
}

#bgimg3{
    width: 300px;
    height: 300px;
    background: url("./img/QQ图片20200314194605.jpg") no-repeat center center/cover;
}