body,html{
    width: 100%;
    height: 100%;
    background-color: pink;
}
div.red{
    background: red;
    width: 100px;
    height: 100px;
}
div.blue{
    background: blue;
    width: 100px;
    height: 100px;
}